@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-text: #320A28; 
}

body {
  font-family: Arial, sans-serif;
}

.header, .footer {
  text-align: center;
  padding: 20px;
  color: var(--dark-text);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #A9BCD0;
  padding: 10px 20px;  
}

.nav a{
  text-decoration: none;  
  color: #fff;              
  font-size: 18px;          
  font-weight: bold;      
  padding: 10px 20px;    
  margin: 0 15px;       
  transition: color 0.3s, transform 0.3s; 
}

.nav a:hover {
  color: var(--dark-text);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.project-card {
  display: block;
  text-align: center;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.project-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-text);
  margin: 0;
  padding-top: 10px;
  text-transform: capitalize;
  font-family: 'Arial', sans-serif;
}

.background{
  background-color: #f2f2fa;
}

.project-detail {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.project-detail h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.project-detail p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.project-detail img {
  border-radius: 8px;
  margin-bottom: 1.5rem;
}