@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, sans-serif;
}

.header, .footer {
  text-align: center;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #A9BCD0;
  padding: 10px 20px;  
}

.nav a{
  text-decoration: none;  
  color: #fff;              
  font-size: 18px;          
  font-weight: bold;      
  padding: 10px 20px;    
  margin: 0 15px;       
  transition: color 0.3s, transform 0.3s; 
}

.nav a:hover {
  color: #320A28; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  display: block;
  text-align: center;
}

.background{
  background-color: #f2f2fa;
}

.h3{
  text-align: center;
}
